body{
    font: 3em sans-serif;
    background-color: rgba(0,0,0,.2);
    color: white;
}

.grid-item{
    padding: 1rem;    
}

.blanco{
    background-color: white;
    color: black;
}

.negro{
    background-color: black;
}

/**********************************************************/





/**********************************************************/

.grid{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(8, 10rem);
    grid-template-rows: repeat(8, 10rem);

}
