.flex-container{
    background-color: salmon;
    color: white;
    padding: 1em;
    display: flex;
    height: 20rem;
    align-items: baseline;

}

.flex-item{
    font-size: 5em;
    background-color: deepskyblue;
    border: 3px solid;
    &:nth-child(3){
        font-size: 3em;
    }
}
