.card {
    height: 20rem;
    width: 15rem;
    background-color: deepskyblue;
    border: 10px solid #DDD;
    color: white;
    font-size: 3em;
    padding: 1em;
}

$zi: 3;

@for $i from 2 through 5 {
    .card:nth-child(#{$i}) {
        position: absolute;
        left: random(10) * ($i - 1rem);
        top: random(10) * ($i - 1rem);
        
        @if ($i == random(3)+1) {
            z-index: 1;
            background-color: salmon;
        }
    }
}

